
body {
    font-family: 'Scada', sans-serif;
    background: #fafafa;
}

p { 
    font-family: 'Scada', sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background-color: #506884;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0,1);
  }
  
  .navbar-btn{
    box-shadow: none;
    outline: none! important;
    border: none;
  }

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 220px;
    max-width: 220px;
    min-height: 100vh;
    background: #f6f6f6;
    color: #b4b4b4;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -220px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #f6f6f6;
}

#sidebar ul li a {
    margin: 6px;
    padding: 10px;
    font-size: 1.0em;
    display: block;
}

#sidebar ul li a:hover{
    margin-left: 8px;
    border-left: 3px solid #506884;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #506884;
}

a[data-toggle="collapse"] {
    position: relative;
   
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 60%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #f6f6f6;
}

.title-side {
    background-color: #506884;
    color: #fff;
    padding: 5px;
    text-transform: uppercase;
    margin: 20px 0 -10px 0;
  }

img.logo{
    width:150px;
    margin-left:5px;
}

#content {
     width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

#navbarNav ul li a{
    color:#fff;
    background-color: #506884;
    opacity: 50%;
}

/* CARD */

.card-box {
    position: relative;
    color: #fff;
    padding: 20px 10px 40px;
    margin: 20px 0px;
}
.card-box:hover {
    text-decoration: none;
    color: #f1f1f1;
}
.card-box:hover .icon i {
    font-size: 100px;
    transition: 1s;
    -webkit-transition: 1s;
}

.card-box .inner {
    padding: 5px 10px 0 10px;
}

.card-box h3 {
    font-size: 27px;
    font-weight: bold;
    margin: 0 0 8px 0;
    white-space: nowrap;
    padding: 0;
    text-align: left;
}

.card-box p {
    font-size: 15px;
}

.card-box .icon {
    position: absolute;
    top: auto;
    bottom: 5px;
    right: 5px;
    z-index: 0;
    font-size: 72px;
    color: rgba(0, 0, 0, 0.15);
}

.card-box .card-box-footer {
    position: absolute;
    left: 0px;
    bottom: 0px;
    text-align: center;
    padding: 3px 0;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    text-decoration: none;
}

.card-box:hover .card-box-footer {
    background: rgba(0, 0, 0, 0.3);
}

thead th{
    background-color: #506884 !important;
    color: white !important;
}

@media (max-width: 720px) {
    #sidebar {
        margin-left: -220px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}